!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title UpworkPremiumChallenge
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-inverse
      .container
        .navbar-header
          = link_to 'Upwork Premium Challenge', root_path, class: 'navbar-brand'
        #navbar.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li.active
              = link_to 'Members', members_path, class: 'active'
            %li
              = link_to 'Users', users_path, class: 'active'
            %li
              = link_to 'Logout', destroy_user_session_path, method: :delete
    .container
      = render 'layouts/flash_messages', flash: flash

      = yield
