%h1.page-header
  Member Details:
  %i
    = "#{@member.first_name} #{@member.last_name}"

%p
  First Name:
  %b= @member.first_name
%p
  Last Name:
  %b= @member.last_name
%p
  Email:
  %b= @member.email
%p
  Birth Date:
  %b= @member.birth_date.to_formatted_s(:european)
%p
  Gender:
  %b= @member.gender
%p
  Role:
  %b= @member.role.title
%p
  Active:
  %b= @member.active?

- if policy.edit?
  = link_to 'Edit', edit_member_path(@member), class: 'btn btn-primary'
= link_to 'Member List', members_path, class: 'btn btn-primary'
